.ogNavbar ul {
    background-color: #F7DE3A;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ogNavbar li {
    float: left;
}

.ogNavbar a {
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.ogNavbar a:hover {
    text-decoration: underline;
    color: #111!important;
}

.ogNavbar img {
    display: block;
    text-align: center;
    padding: 14px 16px;
    width: 140px;
    height: 25px;
}

#showcase_searchbar {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 16px;
    float: right;
}

.showcase_searchbar_input {
    border: none;
    height: 30px;
    width: 300px;
    background-color: #ececec;
}

.showcase_searchbar_input textarea:focus, :focus {
    outline: none;
}

.showcase_searchbar_input ::placeholder {
    color: #009578;
}

.ogcereal_searchbutton {
    height: 30px;
    width: 50px;
    border: none;
    background-color: #7b68ee;
    margin-left: -25px;
}

.ogcereal_searchbutton :hover {
    filter: brightness(60%);
}