<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OG Contribute</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/contribute.css">
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="uploadContainer">
    <h1>Upload new Photo</h1>
    <form method="POST" action="/ogcereal/add" enctype="multipart/form-data">
        <input class="contributorNameInput"
               maxlength="20"
               placeholder="Enter cereal name"
               required="required"
               type="text"
               name="name" />
        <div class="dropzoneContainer">
            <div id="dropzone">
                <span class="dropzone_select" id="dropzone_select">Click to upload</span>
                <input class="dropzone_input"
                       id="dropzone_input"
                       required="required"
                       type="file"
                       name="image"
                       accept="image/*" />
            </div>
        </div>
        <label>
            <textarea class="uploadTextArea"
                      placeholder="Enter description"
                      required="required"
                      maxlength="600" rows="4"
                      cols="50"
                      name="description"></textarea>
        </label><br/>
        <button class="contribution_button" type="submit" value="Upload">Submit</button>
    </form>
</div>
<div class="upload_rules">

</div>

<script src="/javascripts/imagedrops.js"></script>
</body>
</html>