<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OGFlakes Showcase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/showcase.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<script>
    function callTickerUpdate(id) {
        fetch('ogcereal/showcase/updateticker/' + id, {
            method: 'PUT',
            body: JSON.stringify({count: 2}),
            headers: {
                'Content-type': 'application/json;charset=UTF-8',
            }
        });
    }
</script>
<body>
<div th:replace="fragments/navbar"></div>
<div th:unless="${#lists.isEmpty(ogFlakesList)}">
    <div th:each="cereal : ${ogFlakesList}">
        <div th:if="${cereal.getIsValidated}">
            <div id="highlightContainer">
                <div id="cerealDescription">
                    <p class="cerealName" th:text="${cereal.getName}"></p>
                    <p class="cerealDescription" th:text="${cereal.getDescription}"></p>
                </div>
                <div id="cerealImageContainer">
                    <img id="cerealBoxImage" th:alt="${cereal.getImage}" th:src="'data:image/png;base64,' + ${cereal.getImage()}"/>
                </div>
                <div id="cerealUpvote">
                    <i class="uptick" th:attr="onclick='callTickerUpdate(\'' + ${cereal.getId} + '\');'"></i>
                    <h2 id="uptickCountId" class="uptickCount" th:text="${cereal.getCount}"></h2>
                </div>
                <br style="clear: left;"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>