<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OG Showcase</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/showcase.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
<div th:replace="fragments/navbar"></div>
<!-- message2 is not empty if message1 is also not empty, using message2 would be safe in this case
     as they are created and meant to be together -->
<div th:unless="${#strings.isEmpty(message1)}">
    <p th:text="${message1}"></p>
    <p th:text="${message2}"></p>
</div>
<div th:if="${results == 'empty'}">
    <p> No Results &#129488; </p>
</div>
<div th:unless="${#lists.isEmpty(ogFlakesList)}">
    <div th:each="cereal : ${ogFlakesList}">
        <div th:if="${cereal.getIsValidated}">
            <div id="highlightContainer">
                <div id="cerealDescription">
                    <p class="cerealName" th:text="${cereal.getName}"></p>
                    <p class="cerealDescription" th:text="${cereal.getDescription}"></p>
                </div>
                <div id="cerealImageContainer">
                    <img id="cerealBoxImage" th:alt="${cereal.getImage}" th:src="'data:image/png;base64,' + ${cereal.getImage()}"/>
                </div>
                <div id="cerealUpvote">
                    <form th:action="@{|/ogcereal/showcase/updateticker?id=${cereal.getId}&count=${cereal.getCount + 1}|}" method="post">
                        <input type="hidden"/>
                        <button style="background: transparent; outline: none; border: none;" type="submit" value="put"><i class="uptick"></i></button>
                    </form>
                    <h2 id="uptickCountId" class="uptickCount" th:text="${cereal.getCount}"></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:unless="${#lists.isEmpty(ogFlakesList)}" class="pagelink_container">
    <section class="pagination" th:each="i: ${#numbers.sequence(0, totalPages - 1)}">
        <a class="pageLink" th:if="${#strings.isEmpty(q)}" th:href="@{/ogcereal/showcase(page=${i})}" th:text="${i} + 1"></a>
        <a class="pageLink" th:if="not ${#strings.isEmpty(q)}" th:href="@{/ogcereal/showcase(q=${q}, page=${i})}" th:text="${i} + 1"></a>
    </section>
</div>
</body>
</html>